/*for padding */
* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
/* Header*/
header {
  position: absolute;
  margin: 1em;
  width: 100%;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
word-spacing: 1.5em;
}
nav li {
  display: inline-block;
  /* margin: 1em; */
  /* padding: 0;
    list-style: none; */
}
nav a {
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.6rem;
  /*gives us more room for the clickable link for mobile*/
  padding: 0.6em;
  color:#232323;
}
nav a:hover,
nav a:focus {
  color:rgb(231, 137, 160);
}
@media (min-width: 60rem) {
  .logo {
    float: left;
  }
  nav {
    float: right;
    margin-right: 15em;
  }
  nav a{
    font-size: 1.2rem;

  }
}
img {
  /*The max width is the size of their container*/
  max-width: 95%;
  height: 20em;
  /* border 16rem solid red; */
  
}
.container {
  
  width: 95%;
  max-width: 70em;
  margin: 0 auto;
}
/* A clearfix is a way for an element to automatically clear its child elements, so that you don't need to add
 additional markup. It's generally used in float layouts where elements are floated to be stacked horizontally.*/
/*Insert some text after the content of each <section> element:*/
 .clearfix::after, section::after{
content: '';
display: block;
clear: both;

}
/*Typogrophy, generals*/
h1 {
  font-weight: 800;
  font-size: 1.0rem;
  margin-top: 0;
}
p{
    padding: 0%;
    line-height: 1.5;
    
}
p:last-of-type{
    margin-bottom: 0;
}
h2{
  color: rgb(231, 137, 160);;
  font-size: 1.5rem;
  font-weight: 1000;
  padding-top: 1em;
  /* margin-left: 3em; */

}
.title {
  color: #232323;
  margin-bottom: 0.5em;
  font-weight: 900;
  margin-top: 1.5em;
  padding: 1em;
}
.title span {
  font-weight: 300;
  display: block;
  font-size: 0.7em;
  color: #232323;
}
.title-cta{
    /*0 on the top and left/right*/
    margin-bottom: 0 0 .5em;
}

/* 60*17 = 960 */
/*16px = 1rem*/
@media (min-width: 60rem) {
    p{
        font-size: 1.0rem;
        line-height: 1.4;
    }
  .title {
    font-size: 2.3rem;
    }
}
.socialNetwork{
  padding: 0.5em 1.75em;

}
.button {
  display: inline-block;
  font-size: .85rem;
  text-decoration: none;
  text-transform: uppercase;
  border: solid .1em;
  border-radius: 10px;
  padding: 0.5em 1.75em;
  background-color: rgb(231, 137, 160);;
}
/*when font gets bigger so does the button*/
/* @media (min-width:) {
    .button {
      font-size: 1.5rem;
    }
  } */
.button-small{
    font-size: .8rem;
    font-weight: 700;
}
.button-accent {
  color: black;
  border-color: #232323;
}
.button-accent:hover,
.button-accent:focus {
  background: #232323;
  color: rgb(231, 137, 160);
}
/*Button for CTA**/
.button-dark {
    color: #232323;
    border-color: #232323;
  }
  .button-dark:hover,
  .button-dark:focus {
    background: #232323;
    color: rgb(231, 137, 160);
    ;
  }
/* Home Hero*/
.home-hero {
  background-image: url("../images/Background/pexels-photo-311458.jpeg");
  background-size: cover;
  padding: 8em 0;
  background-position: center;
  color: #fff;  
      
  /* position: absolute; */
}
/*If the window hits less than 980px then make these changes, the Hero Image will disapear*/
@media (min-width: 60rem) {
  .home-hero {
    /* height: 100vh; */
    height: 100vh;
    padding-top: 35vh;
  }
}

/*Home About*/
.home-about-textbox {
  background-color: #232323;
  padding: 4em;
  /*100% will be against the parent so we use viewport width*/
  width: 100vw;
  /*container is 95% 5% left for left/right*/
  margin-left: -2.5%;
  outline: 2px solid rgb(231, 137, 160);;
  outline-offset: -2.5em;
  color: #ffffff;
  position: relative;
}
.home-about-textbox h1 {
  color: rgb(231, 137, 160);;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1.5rem;
  background: #232323;
  padding: 0px;
  font-size: 2rem;
}
@media(min-width:25rem){
    h1{
        font-size: 1rem;
    }
    .home-about-textbox h1{
        top: .6em;
        padding: 0 .325em;
    }
}

@media(min-width: 60rem){
    h1{
        font-size: 2.5rem;
    }
    .home-about{
        background-image: url("../images/Background/IMG_2204.JPG");
       background-size:contain; 
                padding-bottom: 20em; 
                background-position-x: right;
                background-repeat: no-repeat;
    }
    #hikingImg{
     width: 20em;
      height: 20em; 
      float: left;
    } 
    .home-about-textbox {
        width: 50%;
        padding: 5em;
        outline-offset: -2.75em;
        margin-left: 1.5%;
        top: -5em;
        text-align: left;
        box-shadow: 0 0 4em 0 rgba(0,0,0,.5);
    }
    .home-about-textbox h1{
      top: 0.72em;
      left: 8.25rem;
        transform: translateX(0);
        text-transform: uppercase;
        /* padding: 0 .325em; */
    }
    
}

/*Margin from the top section*/
/*top, right/left, bottom*/
.portfolio{
    margin: 3em 0 0;
}
.port-item{
    /*Get rid of the defualt margin*/
    margin: 0;
        /*Move the text over the image*/
    position: relative;

}
.port-item p{
    display: block;
    
}

.port-description{
position: absolute;
/*becasue the text is hidden behind the image with absolute*/
z-index: 1;
bottom: 2em;
left: 3em;
right: 3em;
color: white;
background: rgba(0, 0, 0, .6);
padding-bottom: 1em;
}

.port-description p{
    margin: 0;
}

/* 592px */
@media(min-width: 35rem){
    .port-item{
        width: 50%;
        height: auto;

        float: left;
    }
}

@media(min-width: 60rem){
    .port-item{
        width: 33.333%;
        /*Hide the port item*/
        overflow: hidden;
    }
    /*Move the desctiption down*/
    .port-description{
        transform: translateY(150%)
    }

    /*show the item description when we hover over an item*/
    .port-item:hover .port-description{
        /*y axis */
        transform: translateY(0%)
    }
}

/*Call to Action CTA*/
.cta{
    background-color: rgb(231, 137, 160);;

    padding: 5em 0;
}

/*FOOTER*/
footer{
    background: #232323;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
}
#contact-form{
  margin-top: -2em;
  margin-left: 1%;
  padding: 1em; 
}
@media only screen and (max-width: 60rem){
  #contact-form{
    margin-left: 9%;
  }
}
@media only screen and (max-width: 22rem){
  #contact-form{
    margin-left: 3%;

  }
 

}
#name, #email, textarea{
 padding: .5em;
 width:25em;
 border: #232323;
    } 
  textarea{
      height: 20%;
      border: #232323;

    }
    input[type=submit] {
      position: sticky;
      background: rgb(231, 137, 160);;
      color: #232323;
      margin-top: 2em;
      margin-right: 3em;
      display: inline-block;
      font-size: 1.1rem;
      text-decoration: none;
      text-transform: uppercase;
      border-radius: 10px;
      padding: 0.5em 1.75em;
    }
    @media(min-width:60rem){

      #contact-form ul{
        margin-left: -25%;
      }
      #name, #email, textarea{
        padding: 1.5em;
        width: 40em;
          } 
        /* textarea{
            height: 20%;
          } */
          input[type=submit] {    
            margin-left: 7.5em;
          }
    }
    @media(min-width: 48rem){
      #contact-form{
        margin-top: -8em;
    margin-left: 20%;
    padding: 6em;
    }
    .title-cta{
      margin-top: -1em;
      font-size: 3rem;

    }
  }
     #myBtn{
    /* bottom: 10px; */
    /* right: 30px; */
    /* border: none; */
    /* outline: none; */
    /* color: black; */
    /* background-color: limegreen; */
    cursor: pointer;
    padding: 5px;
    /* border: #232323; */
    border-radius: 10px;
    font-size: 18px;
    width: 9em;
    float: right;

    }
    
 
    #myBtn:hover {
      background-color: #232323; /* Add a dark-grey background on hover */
    }
    .typewriter h1 {
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      /* The typwriter cursor */
      border-right: .1em solid rgb(231, 137, 160); /* The typwriter cursor */

      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em; /* Adjust as needed */
      animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    }
    
    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
    
    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: rgb(231, 137, 160); }
    } 

 